*~
*.o
Makefile
Makefile.in
aclocal.m4
ar-lib
autom4te.cache/
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
depcomp
install-sh
missing
src/.deps/
src/Makefile
src/Makefile.in
src/bam2fastx
src/bam_merge
src/fix_map_ordering
src/gtf_juncs
src/gtf_to_fasta
src/juncs_db
src/libbam.a
src/libgc.a
src/libtophat.a
src/long_spanning_reads
src/map2gtf
src/prep_reads
src/sam_juncs
src/samtools-0.1.18/bcftools/libbcf.a
src/samtools-0.1.18/libbam.a
src/samtools-0.1.18/samtools_0.1.18
src/samtools_0.1.18
src/segment_juncs
src/tophat
src/tophat2
src/tophat_reports
stamp-h1
